<div class="public-recipe" id="<%= dom_id recipe %>">
  <div>
    <h2><%= link_to recipe.name, recipe %></h2>
    <%= button_to "Destroy this recipe", recipe, method: :delete %>
  </div>
  <div>
    <p><%= recipe.description %></p>
  </div>
</div>
