<div class="flex-container">

  <h1 class="main-title">Welcome to Recipes.com!</h1>

  <% if @recipes.empty? %>
    <p>There are no public recipes yet.</p>
  <% end %>

  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>

</div>