.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: linear-gradient(rgb(44, 58, 44), rgb(79, 91, 59));
}

.field {
  color: #000;
}

.cancel-btn {
  background-color: rgb(187, 77, 47);
  border-radius: 3px;
  padding: 1% 3%;
  border: none;
  color: #fff;
  margin-bottom: 3%;
  width: max-content;
}

.cancel-btn:hover {
  background-color: rgb(153, 82, 63);
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(86, 74, 201);
  border-radius: 3px; 
  padding: 1% 3%;
  border: none;
  color: #fff;
  width: 120px;
}

.edit-btn:hover {
  background-color: rgb(69, 57, 180);
  cursor: pointer;
}

.back-btn {
  text-decoration: none;
  color: #000;
}

.bottom-links {
  display: flex;
  flex-direction: column;
}

.bottom-links a {
  text-decoration: underline;
  margin-top: 3%;
  color: #333;
}
