#shopTitle {
  width: 100%;
  text-align: center;
}

.total-container {
  display: flex;
  justify-content: space-between;
}

.total-value {
  margin-right: 110px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.total-item {
  margin-left: 110px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.triangle-top,
.triangle-bottom {
  display: block;
  color: #000;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.table-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#foodName-cell {
  width: 20%;
}

.table-cell {
  width: 10%;
}
